@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Playfair+Display&family=Poppins:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Playfair+Display&family=Poppins:wght@400;500;700&display=swap');

/* Header.css */
.header-wrapper {
    @apply bg-white shadow-md;
}

.main-container {
    @apply container mx-auto px-6 md:px-12 py-3;
}

.logo-container {
    @apply flex justify-between items-center;
}

.nav-link {
    @apply text-gray-800 hover:text-gray-600 px-4 py-2 block md:inline-block;
}

.search-icon {
    @apply text-gray-800 hover:text-gray-600 px-4 py-2;
}
.search-input {
    @apply ml-4 px-4 py-2 border outline-0 rounded-md;
    transition: width 0.3s ease-out, opacity 0.3s ease-out;
    width: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
}
  
.search-input-open {
    width: 200px;
    opacity: 1;
    visibility: visible;
}

/* Banner.css */
.banner-container {
    @apply bg-cover bg-center h-96 relative text-white;
    background-image: url('/public/guy2.jpg');
}

.banner-overlay {
    @apply absolute inset-0 bg-black opacity-50;
}

.banner-text {
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center;
}

.banner-title {
    @apply text-4xl md:text-6xl font-bold uppercase;
}

.promo {
    @apply mt-4 text-xl md:text-2xl;
}

.banner-button {
    @apply bg-transparent hover:bg-white text-white hover:text-black font-semibold py-2 px-4 border border-white hover:border-transparent rounded mr-4;
}

/* Products.css */
.cards-container {
    @apply container mx-auto px-4;
}

.cards-title {
    @apply text-center text-3xl font-bold my-8;
}

.cards-grid {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4;
}

.card-item-wrapper {
    @apply max-w-sm rounded overflow-hidden shadow-lg;
}

.card-item-title {
    @apply font-bold text-xl mb-2;
}

.card-item-description {
    @apply text-gray-700 text-base;
}

  

  

